.statistics-content{
    max-width: 1600px;
    margin: 0 auto;

    h3{
        font-size: 2.5em;
        margin: 2% 0;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.06em;
        font-weight: 700;
        color: #360570;
    }
    .chart-games{
        width: 600px;
        margin: 0 auto;
    }
    .chart-all{
        width: 600px;
        margin: 0 auto;
    }
}